$fuentePrincipal: 'Montserrat', sans-serif;

// Colores
$verde: #4CB8B3;
$rosa: #F53756;
$amarillo: #FEF46D;
$morado: #752F97;
$negro: black;
$blanco: white;


// Media queries

// Fuentes
$delgada: 300;
$regular: 700;
$bold: 700;
$black: 900;

// Separaciones