.galeria
{
    padding: 5rem 0;

    h3
    {
        text-align: center;
    }
}

.galeria-img
{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 2rem; 
    padding: 2rem;
    
    @include tablet
    {
        grid-template-columns: repeat(4, 1fr);
    }

    @include desktop
    {
        grid-template-columns: repeat(6, 1fr);
    }
}

.galeria-everyimg
{
    border: 1px solid rgba($color: #FFFFFF, $alpha: 0.0);

    &:hover
    {
        cursor: pointer;
        border: 1px solid rgba($color: black, $alpha: 1.0);
        transition: border 0.2s ease;
    }
}

// Cuando se abre una imagen
.galeria-overlay
{
    position: fixed; // La imagen es fija, no se puede mover
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);

    display: grid;
    place-items: center; // Centrar vertical y horizontalmente
    //z-index: 2; // .contenido-video tiene un z-index de 1   
}

.galeria-overlay__button
{
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
    font-weight: 900;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;

    display: grid;
    place-items: center; // Centrar la "X" en el medio

    &:hover 
    {
        cursor: pointer;
    }
}